    */{font-family: 'Roboto','Roboto Light', 'Roboto Medium',  etc} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

.color-footer{
    background-color: black;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #000000;
}

.color-boton{
    color: blueviolet;
}
