*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* estilos de maxi */

body {
  font-family: "Roboto", sans-serif;
}

.color-fondo {
  background: #150050;
  background: linear-gradient(180deg, #000000 0%, #150050 35%, #3f0071 100%);
}
.foto-integrantes {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.icono-tamaño {
  height: 25px;
  width: 25px;
}

.contenedor-trans:hover .icono-trans {
  transform: translateY(10%);
}

.icono-trans {
  transition-property: all;
  transition-duration: 0.3s;
}

/* estilos pagina 404 */

.body-404 {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.img-404 {
  width: 50%;
}

.contenedor-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background-color: #02408c;
  color: aliceblue;
}

.H1-404 {
  padding: 20px;
}

@media screen and (max-width: 320px) {
  .H1-404 {
    font-size: 20px;
  }

  .button {
    padding: 5px 10px;
    font-size: 10px;
  }
}

/* //Estilos Andrea */

.violeta-claro {
  background: rgb(97, 0, 148);
  background: linear-gradient(
      90deg,
      rgb(88, 6, 133) 10%,
      rgb(201, 5, 240) 55%,
      rgb(174, 85, 247) 90%
    )
    no-repeat center center fixed;
  opacity: 80%;
}

.fondo {
  background: rgb(0, 0, 0);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0) 0%,
      rgba(21, 0, 80) 35%,
      rgba(63, 0, 113) 100%
    )
    no-repeat center center fixed;
}

.fondo-card {
  background: rgb(0, 0, 0);

  background: linear-gradient(
      90deg,
      rgba(0, 0, 0) 15%,
      rgba(21, 0, 80) 35%,
      rgb(156, 9, 137) 100%
    )
    no-repeat center center fixed;
}

.boton-sobrio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: white;
  background-color: rgba(169, 169, 169, 0.596);
}

/* estilos de valentina */

*/ {
  font-family: "Roboto", sans-serif;
}

body {
  /* background: linear-gradient(to bottom, #000000, #150050, #610094); */
  color: white;
  font-size: "Roboto", sans-serif;
}

.buscar {
  background-color: #610094;
  color: white;
}
.btn-reproducir {
  background-color: #610094;
  color: white;
}
@media (max-width: 576px) {
  .card-title {
    font-size: small;
  }
  .btn-reproducir {
    font-size: x-small;
  }
}
@media (min-width: 576px) {
  .h4-title {
    font-size: medium;
  }
}
@media (min-width: 1200px) {
  .img-g {
    width: 70vh;
    height: auto;
  }
  .publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .img-g {
    width: 70vh;
    height: auto;
  }
  .publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h4-title {
    font-size: medium;
  }
}

.borde-card {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.borde-title {
  border-radius: 15px;
}
h5 {
  font-style: italic;
  font-weight: bold;
}
/* estilos de caro */

*/ {
  font-family: "Roboto", "Roboto Light", "Roboto Medium", etc;
}
*/ .color-footer {
  background-color: #000000;
}
.color-boton {
  background-color: #610094;
}
