body {

    font-family: 'Roboto', sans-serif;
}


.color-fondo {
    background: #150050;
    background: linear-gradient(180deg, #000000 0%, #150050 35%, #3F0071 100%);

}
.foto-integrantes {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.icono-tamaño {
    height: 25px;
    width: 25px;
}


.contenedor-trans:hover .icono-trans {

    transform: translateY(10%);
}

.icono-trans {
    transition-property: all;
    transition-duration: 0.5s;
}

//Estilos Andrea

.violeta-claro{
    background: rgb(97, 0, 148);
        background: linear-gradient(90deg, rgb(88, 6, 133) 10%, rgb(201, 5, 240) 55%, rgb(174, 85, 247) 90%) no-repeat center center fixed;
        opacity: 80%;
}


.fondo {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0) 0%, rgba(21, 0, 80) 35%, rgba(63, 0, 113) 100%) no-repeat center center fixed;
    
        }

.fondo-card {
            background: rgb(0,0,0);
         
            background: linear-gradient(90deg, rgba(0,0,0) 15%, rgba(21, 0, 80) 35%, rgb(156, 9, 137) 100%) no-repeat center center fixed;
        
            }

.boton-sobrio{
   
        
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-color: white;
        background-color: rgba(169, 169, 169, 0.596);
      
      
}
